*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: gray;
    align-items: center;
}
.content{
    background-color: white;
    height: 80vh;
    width: 80vw;
}
h1{
    text-align: center;
    margin: 40px 0 20px 0;
}
.bar{
    height: 8px;
    width: 95%;
    margin: 0 auto;
    background-color: gray;
    position: relative;
}
.num{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: -10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h6{
    font-size: 25px;
    color: white;
}
#mid{
    padding: 3rem;
    display: flex;
}
.left{
    width: 40%;
}
.right{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
}
.option{
    display: flex;
    align-items: center;
    margin: 0 20px;
}
.option h2{
    background-color: gray;
    padding: 19px 12px;
}
.option h5{
    background-color: rgba(128, 128, 128, 0.279);
    padding: 24.6px 7px;
    width: 240px;
}
